@tailwind base;
@tailwind components;
@tailwind utilities;

#mobile-menu {
  width: 99% !important;
}

.h-screen {
  height: calc(var(--vh, 1vh) * 100) !important;
}

button:focus,
a:focus {
  outline: none;
}

html {
  overflow-y: scroll;
}
